/* Global */

:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-pink: #fe918d;
  --color-dark-pink: #ff6863;
  --color-dark-grey: #4d4d4d;
  --color-grey: #616161;
  --color-light-grey: #7c7979;
  --color-blue: #73aace;
  --color-yellow: #fff7d1;
  --color-orange: #feb546;
  --color-black: #000000;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

/* Section common */
.section {
  text-align: center;
  margin: auto;
  padding: 50px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  color: var(--color-black);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  color: var(--color-black);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  color: var(--color-black);
  margin: 4px 0;
}

/* Navigation bar */

#navbar {
  padding: 16px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
}
#navbar.navbar--dark {
  background-color: var(--color-pink);
  padding: 8px;
}
#navbar .navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
#navbar .navbar__logo i {
  margin-right: 8px;
}
#navbar .navbar__menu {
  display: flex;
}
#navbar .navbar__menu .navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
}
#navbar .navbar__menu__item:hover {
  border: 1px solid var(--color-white);
  background-color: var(--color-dark-pink);
}
#navbar .navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: var(--color-white);
  display: none;
}

/* Home */

#home {
  background: url("image/background.png") center/cover no-repeat;
  padding: 40px;
  padding-top: 120px;
  text-align: center;
}
#home .home__profile {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
#home .home__title,
#home .home__description {
  color: var(--color-white);
}
#home .home__contact {
  color: var(--color-white);
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin: 24px;
  padding: 8px 12px;
  border: 2px solid var(--color-white);
  border-radius: var(--size-border-radius);
}

/* About */

#about .about__majors {
  display: flex;
  justify-content: space-between;
  margin: 80px 0;
}
#about .about__majors .major .major__icon {
  width: 180px;
  height: 180px;
  line-height: 180px;
  font-size: 80px;
  margin: 0 auto;
  border: 1px solid var(--color-blue);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-blue);
}
#about .about__majors .major .major__icon i {
  transition: all var(--animation-duration) ease;
}
#about .about__majors .major .major__icon:hover {
  border: 1px solid var(--color-pink);
}
#about .about__majors .major .major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-30deg) scale(1.1);
}
#about .about__majors .major .major__title,
#about .about__majors .major .major__description {
  color: var(--color-dark-grey);
}
#about .about__majors .major .major__description {
  font-size: var(--font-small);
}
#about .about__jobs .job {
  display: flex;
  align-items: center;
}
#about .about__jobs .job .job__logo {
  width: 200px;
  height: auto;
}
#about .about__jobs .job .job__description {
  margin-left: 16px;
  text-align: left;
}
#about .about__jobs .job .job__description .job__name,
#about .about__jobs .job .job__description .job__period {
  color: var(--color-light-grey);
}
#about .about__jobs .job .job__description .job__name {
  font-size: var(--font-small);
}
#about .about__jobs .job .job__description .job__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  background-color: var(--color-yellow);
}
#skills .section__container .skillset {
  display: flex;
  background-color: var(--color-light-grey);
  color: var(--color-light-white);
  margin: 20px 0;
}
#skills .section__container .skillset .skillset__title {
  color: var(--color-white);
}
#skills .section__container .skillset .skillset__left {
  flex-basis: 60%;
  background-color: var(--color-dark-grey);
  padding: 20px 40px;
}
#skills .section__container .skillset .skillset__left .skill {
  margin-bottom: 20px;
}
#skills
  .section__container
  .skillset
  .skillset__left
  .skill
  .skill__description {
  display: flex;
  justify-content: space-between;
}
#skills
  .section__container
  .skillset
  .skillset__left
  .skill
  .skill__description
  .programs {
  margin-bottom: 4px;
}
#skills .section__container .skillset .skillset__left .skill .skill__bar {
  height: 3px;
  background-color: var(--color-grey);
}
#skills
  .section__container
  .skillset
  .skillset__left
  .skill
  .skill__bar
  .skill__value {
  width: 100%;
  height: 3px;
  background-color: orange;
}
#skills .section__container .skillset .skillset__right {
  flex-basis: 40%;
}
#skills .section__container .skillset .skillset__right .tools {
  background-color: var(--color-grey);
}
#skills .section__container .skillset .skillset__right .tools,
#skills .section__container .skillset .skillset__right .etc {
  height: 50%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Work */

#work .work__category {
  margin: 40px;
}
#work .work__category .category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
}
#work .work__category .category__btn.active,
#work .work__category .category__btn:hover {
  background-color: var(--color-pink);
  color: var(--color-white);
}
#work .work__category .category__btn .category__count {
  background-color: var(--color-orange);
  border-radius: 50%;
  color: var(--color-white);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: relative;
  top: -20px;
  left: 4px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
#work .work__category .category__btn.active .category__count,
#work .work__category .category__btn:hover .category__count {
  opacity: 1;
  top: 0;
}
#work .work__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
#work .work__projects.animationOut {
  opacity: 0;
  transform: scale(0.95) translateY(20px);
}
#work .work__projects .project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-white);
  width: 250px;
  height: 200px;
  margin: 2px;
}
#work .work__projects .project.invisible {
  display: none;
}
#work .work__projects .project .project__img {
  max-width: 100%;
  max-height: 100%;
}
#work .work__projects .project .project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--color-black);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
#work .work__projects .project:hover .project__description {
  opacity: 0.8;
  transform: translateY(0);
  cursor: pointer;
}
#work .work__projects .project .project__description h3 {
  color: var(--color-white);
}
#work .work__projects .project .project__description h3::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

/* Contact */

#contact {
  background-color: var(--color-pink);
}
#contact .contact__title,
#contact .contact__email,
#contact .contact__end {
  color: var(--color-white);
}
#contact .contact__links {
  font-size: var(--font-large);
  margin: 24px 0;
}
#contact .contact__links a i {
  transition: all var(--animation-duration) ease-in;
}
#contact .contact__links a i:hover {
  transform: scale(1.1);
  color: var(--color-yellow);
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: var(--color-white);
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in-out;
  pointer-events: none;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */

@media screen and (max-width: 768px) {
  #navbar .navbar__toggle-btn {
    display: block;
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  #navbar .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
  }

  #about .about__majors {
    flex-direction: column;
  }
  #about .about__majors .major {
    margin-bottom: 36px;
  }

  #skills .section__container .skillset {
    flex-direction: column;
  }

  #work .section__container .work__projects .project {
    flex-grow: 1;
  }
}
