/* Global */

:root {
  /* Color */
  --color-pink: #e7a5e7;
  --color-light-peri: #b3b3d4;
  --color-semi-peri: #9595dc;
  --color-peri: #6667ab;
  --color-dark-peri: #363d7a;
  --color-light-white: #f5f5f6;
  --color-dark-white: #e1e2e1;
  --color-light-grey: #8e8e8e;
  --color-grey: #808080;
  --color-dark-grey: #616161;
  --color-light-black: #373737;

  /* Font size */
  --font-large: 48px;
  --font-medium: 28px;
  --font-regular: 18px;
  --font-small: 16px;
  --font-micro: 14px;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-medium: 500;
  --weight-regular: 400;

  /* Size */
  --size-border-radius: 4px;

  /* Annimation */
  --animation-duration: 300ms;
}

/* Universal */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
}

/* Section common */
.section {
  text-align: center;
  margin: auto;
  padding: 50px 50px 66px;
}

.section__container {
  max-width: 1200px;
  margin: auto;
}

/* Typography */

h1 {
  font-size: var(--font-large);
  font-weight: var(--weight-bold);
  margin: 16px 0px;
}

h2 {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
  margin: 8px 0;
}

h3 {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 8px 0;
}

p {
  font-size: var(--font-regular);
  font-weight: var(--weight-regular);
  margin: 4px 0;
}

/* Navigation bar */

#navbar {
  padding: 16px 24px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  transition: all var(--animation-duration) ease-in-out;
  z-index: 1;
  font-weight: var(--weight-semi-bold);
}
#navbar.navbar--dark {
  background-color: var(--color-peri);
  color: white;
}
#navbar .navbar__logo {
  font-size: var(--font-medium);
  font-weight: var(--weight-semi-bold);
}
#navbar .navbar__logo .navbar__anchor {
  transition: all var(--animation-duration) ease-in-out;
  color: black;
}
#navbar .navbar__menu {
  display: flex;
}
#navbar .navbar__menu .navbar__menu__item {
  padding: 8px 12px;
  margin: 0px 4px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: var(--size-border-radius);
  transition: all var(--animation-duration) ease-in-out;
}
#navbar .navbar__menu .navbar__menu__item.active {
  border-color: black;
  background-color: var(--color-pink);
}
#navbar .navbar__menu__item:hover {
  border-color: black;
  background-color: var(--color-pink);
}
#navbar .navbar__toggle-btn {
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: white;
  display: none;
}

/* Home */

#home {
  background-color: var(--color-semi-peri);
  padding: 150px 40px 52px 40px;
  text-align: center;
}
#home .home__profile {
  width: 400px;
  height: auto;
  border-radius: 50%;
  border: 2px solid var(--color-light-white);
}
#home .home__title {
  margin-top: 52px;
}
#home .home__keyword {
  margin-top: 16px;
}
#home .home__title,
#home .home__description,
#home .home__keyword {
  color: white;
}
#home .home__contact {
  color: white;
  font-size: var(--font-regular);
  font-weight: var(--weight-bold);
  margin-top: 44px;
  padding: 8px 12px;
  border: 2px solid white;
  border-radius: var(--size-border-radius);
}

/* About */
#about {
  color: var(--color-light-black);
}
#about .about__majors {
  display: flex;
  justify-content: space-between;
  margin: 60px 0;
}
#about .about__majors .major {
  width: 32%;
}
#about .about__majors .major .major__icon {
  width: 180px;
  height: 180px;
  line-height: 180px;
  font-size: 80px;
  margin: 0 auto;
  border: 1px solid var(--color-dark-peri);
  border-radius: 50%;
  margin-bottom: 16px;
  color: var(--color-dark-peri);
}
#about .about__majors .major .major__icon i {
  transition: all var(--animation-duration) ease;
}
#about .about__majors .major .major__icon:hover {
  border: 1px solid var(--color-pink);
}
#about .about__majors .major .major__icon:hover i {
  color: var(--color-pink);
  transform: rotate(-15deg) scale(1.25);
}
#about .about__majors .major .major__description {
  font-size: var(--font-small);
}
#about .about__jobs .job {
  display: flex;
  align-items: center;
}
#about .about__jobs .job .job__logo {
  width: 200px;
  height: auto;
}
#about .about__jobs .job .job__description {
  margin-left: 16px;
  text-align: left;
}
#about .about__jobs .job .job__description .job__name,
#about .about__jobs .job .job__description .job__period {
  color: var(--color-dark-grey);
}
#about .about__jobs .job .job__description .job__name {
  font-size: var(--font-small);
}
#about .about__jobs .job .job__description .job__period {
  font-size: var(--font-micro);
}

/* Skill */

#skills {
  color: var(--color-light-black);
  background-color: var(--color-light-peri);
}
#skills .section__container .skillset {
  display: flex;
  background-color: var(--color-grey);
  color: var(--color-dark-white);
  margin-top: 32px;
}
#skills .section__container .skillset .skillset__title {
  color: var(--color-light-white);
  margin: 0 0 16px;
}
#skills .section__container .skillset .skillset__left {
  flex-basis: 60%;
  background-color: var(--color-light-black);
  padding: 40px;
}
#skills .section__container .skillset .skillset__left .skill {
  margin-bottom: 16px;
}
#skills
  .section__container
  .skillset
  .skillset__left
  .skill
  .skill__description {
  display: flex;
  justify-content: space-between;
}
#skills
  .section__container
  .skillset
  .skillset__left
  .skill
  .skill__description
  .programs {
  margin-bottom: 8px;
}
#skills .section__container .skillset .skillset__left .skill .skill__bar {
  height: 4px;
  background-color: var(--color-grey);
}
#skills
  .section__container
  .skillset
  .skillset__left
  .skill
  .skill__bar
  .skill__value {
  height: 4px;
  background-color: var(--color-pink);
}
#skills .section__container .skillset .skillset__right {
  flex-basis: 40%;
}
#skills .section__container .skillset .skillset__right .tools {
  background-color: var(--color-dark-grey);
}
#skills .section__container .skillset .skillset__right .tools,
#skills .section__container .skillset .skillset__right .etc {
  height: 50%;
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Works */

#works {
  color: var(--color-light-black);
}
#works .works__category {
  margin: 32px;
}
#works .works__category .category__btn {
  border: 1px solid var(--color-dark-white);
  border-radius: var(--size-border-radius);
  font-size: var(--font-regular);
  padding: 8px 48px;
  position: relative;
  font-weight: var(--weight-bold);
  color: var(--color-light-black);
}
#works .works__category .category__btn.selected,
#works .works__category .category__btn:hover {
  color: var(--color-light-white);
  background-color: var(--color-dark-peri);
  border-color: transparent;
}
#works .works__category .category__btn .category__count {
  background-color: var(--color-light-white);
  border-radius: 50%;
  color: var(--color-light-black);
  width: 24px;
  height: 24px;
  line-height: 24px;
  display: inline-block;
  position: absolute;
  top: -16px;
  right: 16px;
  opacity: 0;
  transition: all var(--animation-duration) ease-in;
}
#works .works__category .category__btn.selected .category__count,
#works .works__category .category__btn:hover .category__count {
  opacity: 1;
  top: 50%;
  transform: translateY(-50%);
}
#works .works__projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  opacity: 1;
  transition: all var(--animation-duration) ease-out;
}
#works .works__projects.animationOut {
  opacity: 0;
  transform: scale(0.95) translateY(20px);
}
#works .works__projects .project {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-white);
  width: 250px;
  height: 200px;
  margin: 2px;
}
#works .works__projects .project.invisible {
  display: none;
}
#works .works__projects .project .project__img {
  max-width: 100%;
  max-height: 100%;
}
#works .works__projects .project .nonfiction {
  transform: scale(0.75);
}
#works .works__projects .project .uniqlo {
  position: relative;
  top: 5px;
}
#works .works__projects .project .project__description {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: translateY(10px);
  transition: all var(--animation-duration) ease-in;
}
#works .works__projects .project:hover .project__description {
  opacity: 0.9;
  transform: translateY(0);
  cursor: pointer;
}
#works .works__projects .project .project__description h3 {
  color: var(--color-blue);
}
#works .works__projects .project .project__description h3::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: var(--color-dark-white);
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8px;
}

/* Contact */

#contact {
  background-color: var(--color-dark-peri);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact__email {
  font-size: 2rem;
  transition: all var(--animation-duration) ease-in-out;
}
.contact__email:hover {
  transform: scale(1.25);
  opacity: 0.75;
}
.contact__end {
  position: relative;
  margin: 0;
  margin-top: 2rem;
  animation-duration: 750ms;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes end {
    0% {
      top: 0;
    }
    50% {
      top: -1rem;
    }
    70% {
      top: 0;
    }
    85% {
      top: -0.5rem;
    }
    100% {
      top: 0;
    }
}

/* Scroll */
.arrow-up {
  position: fixed;
  bottom: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  font-size: 50px;
  color: white;
  background-color: var(--color-pink);
  border-radius: 50%;
  opacity: 0;
  transition: opacity var(--animation-duration) ease-in-out;
  pointer-events: none;
}
.arrow-up.visible {
  opacity: 1;
  pointer-events: auto;
}

/* For below 768px screen width */

@media screen and (max-width: 1048px) {
  .home__container h1 {
    font-size: 2rem;
  }
  .home__container h2 {
    font-size: 1.25rem;
  }
} 

/* For below 768px screen width */

@media screen and (max-width: 768px) {
  :root {
    /* Font size */
    --font-large: 30px;
    --font-medium: 18px;
    --font-regular: 16px;
    --font-small: 14px;
    --font-micro: 12px;
  }

  .section {
    padding: 40px 16px;
  }

  #navbar .navbar__toggle-btn {
    display: block;
    top: 16px;
    right: 16px;
    font-size: var(--font-medium);
  }
  #navbar {
    flex-direction: column;
    align-items: flex-start;
    background-color: var(--color-pink);
  }
  #navbar .navbar__menu {
    flex-direction: column;
    text-align: center;
    width: 100%;
    display: none;
    margin-top: 1rem;
  }
  #navbar .navbar__menu.open {
    display: block;
  }

  #home .home__profile {
    width: 300px;
  }
  
  .home__container h1 {
    font-size: 1.5rem;
  }
  .home__container h2 {
    font-size: 1rem;
  }

  #about .about__majors {
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 0px;
    width: 75%;
    margin: 0 auto;
  }
  #about .about__majors .major {
    width: 100%;
    margin: 1rem auto;
  }

  #skills .section__container .skillset {
    flex-direction: column;
  }

  #works .works__category .category__btn {
    margin: 4px 0;
  }
  #works .section__container .works__projects .project {
    flex-grow: 1;
  }

  .arrow-up {
    width: 50px;
    height: 50px;
    font-size: var(--font-large);
    line-height: 50px;
    right: 16px;
    bottom: 16px;
  }
}
